.App {
  /*text-align: center;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.commentBox{
  padding: 10px;
}
.commentBox .ant-card-body{
  padding: 5px 5px 10px 20px;
}
.commentContent{
  display: flex;
  flex-wrap: wrap;
}
.commentAvatar{
  margin:3px;
}
.commentRight{
   flex: 1;
}
.commentHeader{
  display:flex;
  justify-content: space-between;
}
.commentAuthor{
  font-weight: bold;
}
.commentBody{
  font-size: 13px;
}